.logo {
    color: #F99417 !important;
}
.logo div{
    font-family: 'Pacifico', cursive !important;
    font-size: 25px;
}
.logo span {
    font-family: 'Playpen Sans', cursive;
        font-size: 15px;
        display: inline-block;
}
.toSection {
    text-decoration: none;
    color: white;
    font-family: 'Playpen Sans', cursive;
    transition: 0.3s;
}

.toSection:hover {
    color: #F99417 !important;
}



