.backdropContainer form input { 
    border: none;
    border-bottom: 1px solid #555;
    background-color: white;
    font-size: 20px;
}
.backdropContainer form {
    min-height: 500px;
}

.backdropContainer form input:focus {
    outline: none;
}
.backdropContainer form label{
    font-size: 18px;
    text-align: center;
}