.login{
    background-color: #272829;
    }
.login form{
    min-height: 550px;
    box-shadow: 2px 2px 20px #000;
    border-radius: 50%;
    width: 550px;
    background-color: transparent;
}
.loginCircle:nth-child(1){
    height: 100%;
    right: 0;
    top: -70%;
    border-radius: 50%;
    border: 50px double #F99417;
}
.loginCircle:nth-child(2) {
    height: 100%;
    right: 0;
    top: 70%;
    border-radius: 50%;
    border: 50px double #F99417;
}

.formBackground{
    z-index: -1;
    background-color: rgb(118, 118, 118);
    opacity: 0.5;
    filter: contrast(50%);
    top: 0;
    left: 0;
    height: 100%;
}
.login form input[type="text"],
.login form input[type="password"]{
    border: none;
    font-size: 20px;
}


.login form input[type="text"]:focus,
.login form input[type="password"]:focus{
    outline: none;
    box-shadow: 5px 2px 20px 10px #E1CEB5;
}
.login form legend{
    color: white;
    font-size: 40px;
    font-family: 'Playpen Sans', cursive;
}
.login form button[type='submit']{
    border: none;
    background-color: #F99417;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.login form button[type='submit']:hover{
    background-color: #FFCD4B;
}
.login .logo{
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 40px;
}
.SignUpLinkCon{
    color: white;
}
.SignUpLink{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: 20px;
    background-color: #F99417;
}
.SignUpLink:hover{
    background-color: #FFCD4B;
}
