.navbarCon{
    top: 50px;
}
.navbar .logo {
    color: #F99417;
}
.navbar .logo span {
    font-family: 'Playpen Sans', cursive;
}
.navbar .logo div {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
.toSection{
    text-decoration: none;
    color: white;
    font-family: 'Playpen Sans', cursive;
    transition: 0.3s;
}
.toSection:hover{
    color: #F99417;
}