.imgShopBox{
height: 300px;
}
.ShopProductsPage{
    font-family: 'Poppins', cursive;
    font-size: 20px;
    font-weight: 300;
}


.productShop div span{
    font-family: 'Playpen Sans', cursive;
        font-weight: 500;
        color: crimson;
}
.productShop{
    background-color: white;
}

.productShop del{
    background-color: yellow;
}
.allProductsShop{
    min-height: 500px;
}
.slider button{
    border: none;
    background-color: white;
    transition: 0.3s;
}
.slider button:hover{
    background-color: #F99417;
}